
<div class="fitness">
	<div class="fitness-inner">
  	<h1>Are you a fitness enthusiast...</h1>
  	<h2>but tired of boring chicken and broccoli?</h2>
	</div>
</div>

<div class="foodie">
	<div class="foodie-inner">
		<h1>Are you an Asian food junkie...</h1>
		<h2>but looking for less-greasy and low sodium dishes?</h2>
	</div>
</div>

<div class="vegan">
	<div class="vegan-inner">
		<h1>Are you intrigued by a plant based diet...</h1>
		<h2>but having no idea where to start?</h2>
	</div>
</div>

<div class="about">
	<div class="about-inner">
		<h1 class="about-title">Let us take care of your stomach!</h1>
		<div class="container">
			<div class="row">
		  <div class="col-md-3">
				<img src="/assets/oat.png" height="100" width="100"alt="" /><br/>
				<h2>All natural</h2></div>
		  <div class="col-md-3">
				<img src="/assets/rice.png" height="100" width="100"alt="" /><br/>
				<h2>Authentic</h2></div>
		  <div class="col-md-3">
				<img src="/assets/steak.png" height="100" width="100"alt="" /><br/>
				<h2>Low carb</h2></div>
			<div class="col-md-3">
	      <img src="/assets/mushrooms.png" height="100" width="100"alt="" /><br/>
				<h2>Plant based</h2>
			</div>
		</div>

		<h1>Interested? Take a look at our menu</h1>
		<a href="#" class="btn btn-info btn-lg">Menu</a>
		</div>


	</div>

</div>